<p id="notice"><%= notice %></p>

<p>
  <strong>Data venda:</strong>
  <%= @venda.data_venda %>
</p>
<p>
  <strong>Codigo venda:</strong>
  <%= @venda.codigo_venda %>
</p>
<

<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
