<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<table>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td>Codigo produto: <%= produto.codigo_produto %></td>
        <td>Marca: <%= produto.marca %></td>
        <td>Modelo: <%= produto.modelo %></td>
        <td>Número de Série:<%= produto.numero_serie %></td>
        <td><%= link_to 'Show', produto %></td>
        <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
        <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_produto_path %>
<form action="http://localhost:3000/">
    <input type="submit" value="Voltar" />
</form>
