<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo do Produto:</strong>
  <%= @produto.codigo_produto %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @produto.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @produto.modelo %>
</p>

<p>
  <strong>Numero de Série:</strong>
  <%= @produto.numero_serie %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
